<br>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>

  <h3>Al interior de la vivienda<span class="badge badge-secondary container"></span></h3>
<form>
    <h6>8.	Altura entre pisos (el piso de la vivienda al techo):</h6> 
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="78" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">2 metros</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="79" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">2.1 a 2.5 metros</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="80" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">2.6 a 3 metros</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="81" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">3.1 metros o mayor</label>
      </div>
      <h5>Material de construcción<span class="badge badge-secondary"></span></h5>
      <select class="form-control form-control-lg">
          <option>Mampostería. (construcción compuesta por ladrillos u otro material). </option>
          <option>Concreto reforzado. (Construcción compuesta por concreto y acero). </option>
          <option>Prefabricado (construcción por secciones o módulos que fueron diseñadas con antelación por fuera de la construcción)</option>
          <option>Acero</option>
          <option>Madera</option>
          <option>Adobe</option>
          <option>Tapia</option>
          <option>Guadua</option>
        </select>
        <h6>Si el material de construcción fue "Mampostería"<span class="badge badge-secondary"></span></h6>
        <select class="form-control form-control-lg">
          <option>No fue mi respuesta</option>
          <option>Reforzada</option>
          <option>No reforzada</option>
          <option>Confinada</option>
          
        </select>
        <h6>Si el material de construccion fue "Concreto reforzado"<span class="badge badge-secondary"></span></h6>
        <select class="form-control form-control-lg">
          <option>No fue mi respuesta</option>
          <option>Muro estructural</option>
          <option>Pórtico</option>
          <option>Sistema combinado</option>
          <option>Prefabricado</option>
          
        </select>
        <h6>Si el material de construcción fue "Prefabricado"<span class="badge badge-secondary"></span></h6>
        <select class="form-control form-control-lg">
          <option>No fue mi respuesta</option>
          <option>Yeso</option>
          <option>Madera</option>
          <option>PVC</option>
          <option>Drywall</option>
          <option>Fibrocemento</option>
          
        </select>
        <h5> Como se encuentra construido el piso de la vivienda<span class="badge badge-secondary"></span></h5>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="82" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Losa de concreto aligerado</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="83" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Losa de concreto maciza</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="84" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Vigas de acero</label>
          </div>
          <h5>Tipo de techo o cubierta<span class="badge badge-secondary"></span></h5>
          <select class="form-control form-control-lg">
            <option>Losa de concreto aligerada. (conformada por concreto armado, estas se evidencian ya que forman una especie de cajón en el techo.)</option>
            <option>Losa de concreto maciza. (conformada por concreto y acero) </option>
            <option>Zinc</option>
            <option>Termina en plancha </option>
            <option>Placa fácil 	</option>
            <option>Eternit </option>
            <option>Estructura de madera y tejas de barro</option>
            <option>Metálica</option>
          </select>
      <h6>La edificación presenta algún asentamiento (hundimiento)  <span class="badge badge-secondary"></span></h6>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="85" value="option1" checked>
        <label class="form-check-label" for="exampleRadios1">
          Sí
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="86" value="option1" checked>
        <label class="form-check-label" for="exampleRadios1">
          No
        </label>
      </div>

      <div class="mb-3">
        <label for="formFile" class="form-label">Si la respuesta anterior fue "Sí" subir imágenes: 1. Lejana al hundimiento horizontal y 2.Cercana con algún objeto con el que se pueda dimensionar como un lapiz al lado del hundimiento  </label>
        <input class="form-control" type="file" id="formFile">
      </div>

      <h6>Se evidencias grietas pronunciadas en los muros y/o columnas<span class="badge badge-secondary"></span></h6>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="87" value="option1" checked>
        <label class="form-check-label" for="exampleRadios1">
          Sí
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="88" value="option1" checked>
        <label class="form-check-label" for="exampleRadios1">
          No
        </label>
      </div>

      <div class="mb-3">
        <label for="formFile" class="form-label">Si la respuesta anterior fue "Sí" subir imágenes: 1. Lejana a la grieta y 2.Cercana con algún objeto con el que se pueda dimensionar como un lapiz al lado de la grieta </label>
        <input class="form-control" type="file" id="89">
      </div>
      
      <button type="button" class="btn btn-danger" [routerLink]="['/resultados']">Finalizar</button>

  </form>
</html>




