<br>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">RANGO DE RESULTADOS</th>
      <th scope="col">COLOR REFERENTE </th>
      <th scope="col">GRAVEDAD DEL ESTADO DE LA VIVIENDA
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">0-30</th>
      <td>
        <div class="spinner-grow text-success" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-success" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-success" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-success" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </td>
      <td>BAJO</td>
    </tr>
    <tr>
      <th scope="row">31-60</th>
      <td>
        <div class="spinner-grow text-warning" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-warning" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-warning" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-warning" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>

      </td>
      <td>MEDIA</td>
    </tr>
    <tr>
      <th scope="row">61-80</th>
      <td>
        <div class="spinner-grow text-info" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-info" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-info" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-info" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>

      </td>
      <td>ALTA</td>
    </tr>
    <tr>
      <th scope="row">81-100</th>
      <td>
        <div class="spinner-grow text-danger" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-danger" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-danger" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-danger" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </td>
      <td>EXTREMA</td>
    </tr>
  </tbody>
</table>
<br>
<br>
<br>
<br>

<div class="card text-center">
  <div class="card border-warning mb-3">
    Contactenos
  </div>
  <div class="card border-warning mb-3">
    <h5 class="card-title">Universidad Católica Luis Amigó</h5>
    <p class="card-text">Hampdent Ulrick Huffington Martínez</p>
    <p class="card-text">hampdent.huffingtonma@amigo.edu.co</p>
    <p>316 6597664</p>
    
  </div>
  <div class="card border-warning mb-3">
    Ingeniería de Sistemas | Ingeniería Civil
  </div>
</div>