<br>
<h3>Al exterior de la vivienda <span class="badge badge-secondary container"></span></h3>
<form>
    <h6>Área de la vivienda (En metros cuadrados)</h6> 
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="14" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">20 a 30</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="15" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">31 a 40</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="16" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">41 a 60</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="17" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">61 a 70</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="18" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">71 a 80</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="19" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">81 a 90</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="20" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">91 o mayor</label>
      </div>
      <h6>Subir una imágen donde se visualice su vivienda y viviendas vecinas</h6> 
      <div class="input-group mb-3">
        <input type="file" class="form-control" id="21">
      </div>
      <h5>Ubicación de la vivienda<span class="badge badge-secondary"></span></h5>
      <select class="form-control form-control-lg">
          <option>Ladera</option>
          <option>Valle</option>
        </select>
        <h5>Elementos cercanos a la vivienda<span class="badge badge-secondary"></span></h5>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="22" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Quebrada</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="23" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Valle</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="24" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Montaña</label>
          </div>
          <h5>Uso actual predominante de la vivienda<span class="badge badge-secondary"></span></h5>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="25" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Residencial</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="26" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Comercial</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="27" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Educacional</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="28" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Oficinas</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="29" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Bodegas</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="30" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Instalación deportiva</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="31" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Centro de salud</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="32" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Industrial</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="33" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Hotelero</label>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Otro</label>
            <input type="text" class="form-control" id="34" placeholder="¿Cuál?">
          </div>
      <h6>La vivienda anteriormente tuvo un uso diferente al actual<span class="badge badge-secondary"></span></h6>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="35" value="option1" checked>
        <label class="form-check-label" for="exampleRadios1">
          Sí
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="36" value="option1" checked>
        <label class="form-check-label" for="exampleRadios1">
          No
        </label>
      </div>
      
      <h6>El uso de la vivienda anteriormente era<span class="badge badge-secondary"></span></h6>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="37" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Residencial</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="38" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Comercial</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="39" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Eduacional</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="40" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Oficinas</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="41" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Bodegas</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="42" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Instalación deportiva</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="43" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Centro de salud</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="44" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Industrial</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="45" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Hotelero</label>
          </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Otro</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="¿Cuál?">
      </div>
      <h6>El uso de la vivienda del primer piso es<span class="badge badge-secondary"></span></h6>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="46" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">Residencial</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="47" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">Comercial</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="48" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">Eduacional</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="49" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">Oficinas</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="50" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">Bodegas</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="51" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">Instalación deportiva</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="52" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">Centro de salud</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="53" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">Industrial</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="54" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">Hotelero</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="55" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">No aplica</label>
      </div>

    <h6>El total de pisos de la vivienda es</h6>  
      <select class="form-control form-control-lg">
        <option>1 piso</option>
        <option>2 pisos</option>
        <option>3 pisos</option>
        <option>4 pisos</option>
        <option>5 pisos</option>
        <option>6 pisos</option>
        <option>7 pisos o más</option>
      </select>  
      <h6>La vivienda se encuentra ubicada en el piso</h6> 
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="56" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">1</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="57" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">2</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="58" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">3</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="59" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">4</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="60" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">5</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="61" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">6</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="62" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">7 o mayores</label>
      </div>
      <h6>Sótanos (Incluye parqueaderos subterráneos)<span class="badge badge-secondary"></span></h6>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="63" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">Ninguno</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="64" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">1</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="65" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">2</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="66" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">3</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="67" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">4</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="68" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">Mayores a 5</label>
      </div>
    

      <h6>Comparte muros con el vecino de al lado</h6>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="69" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">Si</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="70" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">No</label>
      </div>
      <h6>Hay presencia de algunos de los siguientes equipos (grandes) dentro de la edificación</h6> 
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="71" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">Piscinas</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="72" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">Canchas</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="73" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">Maquinaria de gimnasio</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="74" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">Tanques de agua</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="75" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">Maquinaria industrial</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="76" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">Almacenamientos</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="77" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">Ninguna de las anteriores</label>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Otro</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="¿Cuál?">
      </div>
      <h1></h1>
      <button type="button" class="btn btn-danger" [routerLink]="['/thirdform']">Siguiente</button>
      
  </form>




